.background {
	background-color: black;
}
#square {
    width: 50px;
    height: 50px;
    background: white;
}

.red {
	background-color:red;
	height: 100px;
	width: 100px;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;


}
div.red {
	animation-name: MoveForward;
	animation-direction: alternate;
	animation-play-state: running;
	animation-iteration-count: infinite;
}
@keyframes MoveForward {
 0% {left:0px;}
100%{right: 1520px;}
}
